.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #010101;
}

.loader-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Bodoni Moda", serif;
  font-weight: 200;
  margin-top: 2rem;
  letter-spacing: 0.3ch;
}

.loader span i {
  text-align: center;
  color: #dfdfd0;
  border: 2px solid #dfdfd087;
  background: #26252548;
  width: 40px;
  height: 40px;
}

.switch div {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.762);
}

.switch div[role="switch"] {
  width: clamp(1.23rem, calc(0.55rem + 3.38vw), 3.51rem);
  padding-left: 1.4rem;
}

.animate {
  background: transparent url("../assets/noise5.png") repeat 0 0;
  background-repeat: repeat;
  animation: animation 0.2s infinite;
  opacity: 1;
  visibility: visible;
}
@keyframes animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-app {
  overflow-x: hidden;
  -webkit-text-fill-color: inherit;
  font-size: 100%;
  position: fixed;
}

main {
  overflow-y: scroll;
  min-height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.content:first-child::before {
  content: " ";
  min-height: 50px;
  display: block;
}

.content {
  padding: clamp(0.44rem, calc(-0.46rem + 5.1vw), 3.5rem);
}

.title,
.subtitle,
.nav-link,
.hero-font,
.btn {
  font-family: "Editorial-Ultralight";
}

.hero-font {
  letter-spacing: 0.9vw;
}

.fs_sm,
.soft-skills p {
  font-family: NeueMontreal-Book;
  letter-spacing: 0.002vw;
}

.text-fs {
  letter-spacing: 2.3rem;
  opacity: 0.7;
  width: 12vw;
}

/* Skills */
.soft-skills p {
  padding-right: 0.4rem;
}

.icon {
  font-size: clamp(0.5rem, calc(0.28rem + 1.11vw), 1.25rem);
  max-width: 100%;
  height: 100%;
}

.icon:hover {
  cursor: pointer;
}

.icon-container span {
  border: 1px solid #ccc;
  padding: 0.2rem;
  transition: 0.5s;
  border-radius: 10%;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.svg-hero {
  width: 200px;
  max-width: 100%;
}
.svg-hero textPath {
  font-size: 1.2rem;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1vw;
  fill: #a78682;
  stroke: currentColor;
  opacity: 0.5;
}
